*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f9f9f9;
    font-family: Helvetica;
    font-size: 1rem;
}

header{
    background-color: transparent;
    color: #ffffff;
    display: flex;
    font-size: 0.675rem;
    justify-content: space-between;
    height: 3em;

    padding-top: 1em;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1em;
    
    position: fixed;
    transition: 0.3s ease;
    top: 0;
    width: 100%;
    z-index: 999;
}
.header-page{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    color: #303030;
    height: 2.25em;
    overflow: auto;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.header-page header{
    height: inherit;
    color: #303030;
}
.header-page header .nav-bar a{
    color: #303030;
}
.header-page header .nav-bar a:hover{
    color: #7a6cca;
}
.inverted{
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #303030;
}
.inverted .nav-bar a{
    color: #303030;
}
.inverted .nav-bar a:hover{
    color: #7a6cca;
}
.header-info{
    width: 60%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-bar a{
    color: #f9f9f9;
    text-decoration: none;
    opacity: 0.9;
}
.nav-bar a:hover{
    opacity: 1;
}


.img-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./img/background4.jpg');
    background-position: 0em 0em;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 100vh;
    padding-top: 3.5em;
    padding-left: 35%;
    padding-right: 5%;
    text-align: right;   
}
.page-title{
    display: block;
    color: #303030;
    font-size: 1.3rem;
    margin: auto;
    margin-bottom: 1.25em;
    text-align: center;
    width: 100%;
}
.main-title{
    margin-bottom: 0.45em;
    margin-top: 1.5em;
    font-size: 2.65rem;
}
.main-text{
    font-size: 0.7rem;
    line-height: 1.15rem;
}
.main-button{
    border-color: transparent;
    border-radius: 0.35em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: #303030;
    font-size: 0.8rem;
    font-weight: 500;
    height: 2.65em;
    margin-top: 3em;
    padding: 0.25em 0.2em;
    width: 60%;

    transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}
.main-button:hover,
.main-button:focus {
  background-color: #303030;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #f9f9f9;
  opacity: 0.9;
}
.main-button:hover {
  transform: translateY(-1px);
}

#more-info{
    display: none;
    margin-top:3.25em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.15em;
    padding: 0.5em 0.5em;
    width: 90%;
}
.side-img{
    display: none;
}
.section-title{
    font-size: 1.25rem;
    margin-bottom: 1.05em;
}
.info-text{
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.card-container{
    background-color: #f9f9f9;
    margin-top: 3.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
	overflow: hidden;
	position: relative;
    text-align: center;
    width: 90%;
}
.card-container .items{
    animation: carouselAnim 40s infinite alternate linear;
	align-items: center;
    display: flex;
	width: fit-content;
}
.card-container .items .entry {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    margin: 1.1em;
    padding: 0;
    position: relative;
    width: 13.5em;   
}
.card-container .items .entry p {
    font-size: 0.75rem;
    padding-top: 0em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: 0.65em;
}
.card-container .items .entry p.name {
    font-size: 0.85rem;
    font-weight: bold;
    padding-top: 0.5em;
    
}
@keyframes carouselAnim {
    from {
        transform: translate(0, 0);
   }
    to {
        transform: translate(calc(-100% + (3.25*300px)));
   }
}
@media only screen and (max-width: 1440px) {
    .card-container .items {
        animation: carouselAnim 30s infinite alternate linear;
    }
    @keyframes carouselAnim {
        from {
            transform: translate(0, 0);
       }
        to {
            transform: translate(calc(-100% + (2.75*300px)));
       }
   }
}
@media only screen and (max-width: 1200px) {
    .card-container .items {
        animation: carouselAnim 30s infinite alternate linear;
    }
    @keyframes carouselAnim {
        from {
            transform: translate(0, 0);
       }
        to {
            transform: translate(calc(-100% + (2.5*300px)));
       }
   }
}
@media only screen and (max-width: 950px) {
    .card-container .items {
        animation: carouselAnim 25s infinite alternate linear;
    }
    @keyframes carouselAnim {
        from {
            transform: translate(0, 0);
       }
        to {
            transform: translate(calc(-100% + (2.25*300px)));
       }
   }
}
@media only screen and (max-width: 740px) {
    .card-container .items {
        animation: carouselAnim 25s infinite alternate linear;
    }
    @keyframes carouselAnim {
        from {
            transform: translate(0, 0);
       }
        to {
            transform: translate(calc(-100% + (1.9*300px)));
       }
   }
}
@media only screen and (max-width: 615px) {
    .card-container .items {
        animation: carouselAnim 25s infinite alternate linear;
    }
    @keyframes carouselAnim {
        from {
            transform: translate(0, 0);
       }
        to {
            transform: translate(calc(-100% + (1.5*300px)));
       }
   }
}

@media only screen and (max-width: 500px) {
    .card-container .items {
        animation: carouselAnim 25s infinite alternate linear;
    }
    @keyframes carouselAnim {
        from {
            transform: translate(0, 0);
       }
        to {
            transform: translate(calc(-100% + (1.25*300px)));
       }
   }
}

.card-container .faders {
    width: 100%;
    position: absolute;
    height: 100%;
}
.card-container .faders .left, .card-container .faders .right {
    background: linear-gradient(to right, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%);
    width: 5%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    z-index: 200;
}
.card-container .faders .right {
    right: 0;
    background: linear-gradient(to left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
.card-container .card-img{
    border-radius: 5px;
    display: block;
    height: 6em;
    margin: 0;
    opacity: 0.9;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
#c1{
    background-image: url('./img/background6.jpg');
    background-repeat: no-repeat;
    background-position: 0em -1.6em;
    background-size: cover;
}
#c2{
    background-image: url('./img/background1.jpg');
    background-repeat: no-repeat;
    background-position: 0em -1.65em;
    background-size: cover;
}
#c3{
    background-image: url('./img/background5.jpg');
    background-repeat: no-repeat;
    background-position: 0em -1.65em;
    background-size: cover;
}
#c4{
    background-image: url('./img/background3.jpg');
    background-repeat: no-repeat;
    background-position: 0em -1.65em;
    background-size: cover;
}
main{
    display: block; 
    margin-top: 4.5em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.container{
    min-height: 32.75em;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 1.5em;
    margin-bottom: 1.25em;
    text-align: left;
    width: 100%;
}
.transition, p, .question-container i:before, .question-container i:after {
    transition: all 0.3s;
}
.container .no-select, .container h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
}
.container h2 {
    color: #7a6cca;
    font-size: 1.05rem;
    line-height: 1.45em;
    text-align: left;
    padding: 1em 1em 0;
    text-transform: none;
    font-weight: 500;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
    transition: .2s;
}
.container p {
    color: #303030;
    text-align: left;
    font-size: 0.85rem;
    line-height: 1.4;
    position: relative;
    overflow: hidden;
    max-height: 15em;
    will-change: max-height;
    contain: layout;
    display: inline-block;
    transform: translate(0, 0);
    margin-top: 0.35em;
    margin-bottom: 1em;
    padding: 0 3em 0 1em;
    transition: .3s opacity, .6s max-height;
    hyphens: auto;
    z-index: 2;
}
.container .question-container {
    position: relative;
    overflow: hidden;
    padding: 0.2em;
    margin: 0;
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
    border-radius: 0.4em;
    -webkit-tap-highlight-color: transparent;
  }
  .container .question-container + .question-container {
    margin-top: 1em;
  }
  .container .question-container:last-of-type {
    padding-bottom: 0;
  }
  .container .question-container i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 1.65em;
    right: 1.8em;
  }
  .container .question-container i:before, .question-container i:after {
    content: "";
    position: absolute;
    background-color: #7a6cca;
    width: 3px;
    height: 9px;
  }
  .container .question-container i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  .container .question-container i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  .container .question-container input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    touch-action: manipulation;
  }
  .container .question-container input[type=checkbox]:checked ~ h2 {
    color: #303030;
  }
  .container .question-container input[type=checkbox]:checked ~ p {
    max-height: 0;
    transition: .3s;
    opacity: 0;
  }
  .container .question-container input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  .container .question-container input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
  
  
.container2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 1.5em;
    margin-bottom: 1.25em;
    width: 100%;
}
.contact-info{
    margin-top: 2.25em;
    width: 100%;
}
.contact-img{
    background-image: url('./img/contact2.png');
    background-repeat: no-repeat;
    background-position: 0em 0em;
    background-size: cover;
    display: none;
    filter:brightness(0.975);
}

.contact-data{
	color: #303030;
    display: block;
    margin: auto;
    margin-top: 2em;
    width: 90%;
}
.contact-data h6{
    color: #303030;
	font-size: 0.95rem;
    margin-bottom: 0.8em;
}
.forms-card{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
    width: 100%;
}
.title-form{
    display: block;
    color: #303030;
    margin-bottom: 0.5em;
    font-size: 1.1em;
    font-weight: 550;
}
.input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.25rem;
}
.input + .input {
    margin-top: 1.2rem;
}
.input-label {
    color: #8597a3;
    position: absolute;
    top: 1.25rem;
    transition: 0.25s ease;
}
.input-fieldMain {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    
    font-size: 1.05rem;
    padding: 0.25rem 0;
    margin-bottom: 0.8em;
}
.input-fieldMain:focus, .input-fieldMain:valid {
    outline: 0;
    border-bottom-color: #7a6cca;
}
.input-fieldMain:focus + .input-label, .input-fieldMain:valid + .input-label {
    color: #7a6cca;
    transform: translateY(-1.25rem);
}
.action {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.action-button {
    background-color: #303030;
    border: 0;
    border-radius: 0.4em;
    color: #ffffff;
    
    font-size: 0.95rem;
    font-weight: 500;
    opacity: 0.9;
    padding: 0.5em;
    width: 55%;
}
.action-button:hover {
    background-color: #7a6cca;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #ffffff;
}

footer{
    background-color: #ebebeb;
    color: #303030;
    font-size: 0.75rem;
    height: 3.75em;
    margin-bottom: 0;
    opacity: 0.7;
    text-align: center;

    padding-top: 0.65em;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}
.page-footer footer{
    margin-top: 0;
}


@media screen and (min-width: 401px){
    header{
        font-size: 0.85rem;
    }
    .page-title{
        font-size: 1.4rem;
    }
    .main-title{
        font-size: 3rem;
    }
    .main-text{
        font-size: 0.85rem;
    }
    .main-button{
        font-size: 0.95rem;
    }
    .section-title{
        font-size: 1.5rem;
    }
    .info-text{
        font-size: 0.95rem;
    }
    .card-container .items .entry p{
        font-size: 0.8rem;
    }
    .card-container .items .entry p.name{
        font-size: 0.9rem;
    }
    main{
        margin-bottom: 6em;
    }
    footer{ 
        font-size: 0.8rem;
        padding-top: 1em
    }
}
@media screen and (min-width: 526px){
    header{
        font-size: 0.95rem;
    }
    .header-page{
        height: 2.65em;
    }
    .main-title{
        font-size: 3.25rem;
    }
    .main-text{
        font-size: 0.95rem;
    }
    .main-button{
        font-size: 1.05rem;
    }
    .section-title{
        font-size: 1.6rem;
    }
    .info-text{
        font-size: 1rem;
    }
    .card-container .items .entry p{
        font-size: 0.85rem;
    }
    .card-container .items .entry p.name{
        font-size: 0.95rem;
    }
    footer{ 
        font-size: 0.9rem;
    }
}
@media screen and (min-width: 641px){
    header{
        font-size: 1.05rem;
    }
    .header-page{
        height: 3em;
    }
    .main-title{
        font-size: 3.5rem;
    }
    .main-text{
        font-size: 1.1rem;
    }
    .main-button{
        font-size: 1.15rem;
    }
    .section-title{
        font-size: 1.65rem;
    }
    .info-text{
        font-size: 1.05rem;
    }
    .card-container .items .entry p{
        font-size: 0.9rem;
    }
    .card-container .items .entry p.name{
        font-size: 1rem;
    }
    footer{ 
        font-size: 1.05rem;
    }
    .card-container .items .entry {
        width: 14.5em;   
    }
    .action-button {
        font-size: 1rem;
        width: 50%;
    }
}

@media screen and (min-width: 761px){
    header{
        background-color: #ffffff;
        color: #303030;
        padding-left: 10%;
        padding-right: 10%;
    }
    .nav-bar a{
        color: #303030;
    }
    .nav-bar a:hover{
        color: #7a6cca;
    }
    .img-background{
        height: 95vh;
        margin-bottom: 5vh;
        padding-top: 5em;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;   
    }
    .page-title{
        font-size: 1.55rem;
    }
    .main-title{
        font-size: 3.65rem;
    }
    .main-text{
        font-size: 1.1rem;
        line-height: 1.225rem;
    }
    .main-button{
        width: 35%;
    }
    .card-container{
        margin-top: 4.25em;
        width: 80%;
    }
    .card-container .items .entry {
        width: 15.5em;   
    }
    .card-container .card-img{
        height: 6.75em;   
    }
    #more-info{
        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top:3.85em;
        margin-bottom: 3.5em;
        width: 80%;
    }
    .text{
        width: 60%;
    }
    .side-img{
        background-image: url('./img/icon.png');
        background-size: cover;
        display: block;
        height: 16em;
        margin-top: 0.5em;
        margin-left: 1em;
        opacity: 0.8;
        overflow-x: visible;
        width: 40%;
    }
    main{
        margin-top: 5em;
        width: 80%;
    }
    .container{
        min-height: 30em;
    }
    .container2{
        flex-direction: row;
    }
    .forms-card{
        background-color: #ffffff;
        border-radius: 0.8em;
        box-shadow: 0 8px 20px 0 rgba(153, 153, 153, .25);
        padding: 1.2rem 1.25rem;
        width: 50%;
    }
    .action {
        justify-content: right;
    }
    .action-button {
        font-size: 1rem;
        width: 50%;
    }
    .contact-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: inherit;
        margin-top: 0em;
        margin-left: 5%;
        overflow: hidden;
        padding: 0.25em 0.5em;
        width: 45%;
    }
    .contact-img{
        display: block;
        height: 65%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width: 100%;
    }
    .contact-data{
        background-color: #ffffff;
        border-radius: 0.5em;
        box-shadow: 0 8px 20px 0 rgba(153, 153, 153, .25);
        height: 8em;
        margin: 0;
        margin-bottom: 0.5em;
        padding: 1em 1.25em;
        width: 100%;
    }
    footer{
        height: 3.05em;
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media screen and (min-width: 841px){
    .main-title{
        font-size: 3.8rem;
    }
    .main-text{
        font-size: 1.15rem;
    }
    .card-container .items .entry {
        width: 16em;   
    }
    .card-container .card-img{
        height: 7em;   
    }
    .info-text{
        font-size: 1.1rem;
        line-height: 1.35rem;
    }
}
@media screen and (min-width: 1001px){
    header{
        padding-left: 15%;
        padding-right: 15%;
    }

    .img-background{
        padding-top: 5.5em;
        padding-left: 15%;
        padding-right: 15%;
        text-align: center;   
    }
    .page-title{
        font-size: 1.65rem;
    }
    .main-title{
        font-size: 3.95rem;
    }
    .main-text{
        font-size: 1.2rem;
        line-height: 1.35rem;
    }
    .main-button{
        width: 30%;
    }
    .card-container{
        margin-top: 5em;
        margin-bottom: 4.75em;
        width: 70%;
    }
    .card-container .items .entry {
        width: 18.25em;   
    }
    .card-container .card-img{
        height: 8em;   
    }
    #more-info{
        width: 70%;
    }
    .text{
        width: 62%;
    }
    .info-text{
        font-size: 1.18rem;
        line-height: 1.42rem;
    }
    .side-img{
        height: 16.5em;
        margin-top: 0.5em;
        margin-left: 1.3em;
        width: 38%;
    }
    main{
        width: 70%;
    }
    .forms-card{
        padding: 1.65rem 1.95rem;
        width: 53%;
    }
    .title-form{
        font-size: 1.2rem;
    }
    .contact-info{
        width: 42%;
    }
    .container h2{
        font-size: 1.25rem;
    }
    .container p{
        font-size: 0.95rem;
    }
    footer{
        height: 3.15em;
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media screen and (min-width: 1201px){
    .page-title{
        font-size: 1.8rem;
    }
    .forms-card{
        height: 30em;
        width: 45%;
    }
    .action {
        margin-top: 2.75rem;
    }
    .action-button {
        font-size: 1rem;
        width: 40%;
    }
    .contact-info{
        margin-left: 7%;
        padding: 0.3em 0.65em;
        width: 48%;
    }
    .contact-data{
        padding: 1em 1.25em;
        width: 100%;
    }
    .card-container .items .entry {
        width: 19em;   
    }
    .card-container .card-img{
        height: 8.5em;   
    }
}
@media screen and (min-width: 1351px){
    header{
        padding-left: 18%;
        padding-right: 18%;
    }
    .img-background{
        padding-left: 18%;
        padding-right: 18%;  
    }
    .page-title{
        font-size: 1.9rem;
    }
    .main-title{
        font-size: 4rem;
    }
    .main-text{
        font-size: 1.25rem;
        line-height: 1.375em;
    }
    .card-container{
        margin-top: 5.5em;
        margin-bottom: 5em;
        width: 64%;
    }
    .card-container .items .entry {
        width: 20em;   
    }
    .card-container .card-img{
        height: 9.65em;   
    }
    #more-info{
        width: 64%;
    }
    .info-text{
        font-size: 1.19rem;
        line-height: 1.44rem;
    }
    .side-img{
        height: 17.25em;
        margin-top: 0.65em;
        margin-left: 1.35em;
        width: 38%;
    }
    main{
        width: 64%;
    }
    footer{
        font-size: 1.12rem;
        height: 3.35em;
        padding-left: 18%;
        padding-right: 18%;
    }
    
    .forms-card{
        height: 32em;
        padding: 2rem 2.15rem;
        width: 43%;
    }
    .action {
        margin-top: 3.85rem;
    }
    .title-form{
        font-size: 1.25rem;
    }
    .contact-info{
        width: 50%;
    }
    .contact-img{
        height: 68%;
        width: 95%;
    }

}